body {
  padding: 10px;
  background: grey;
}

h1, h2, h6 {
  text-align: center;
  color: yellow;
}
#board{
  margin: 0 auto;
/*  background-color: yellow;*/
}

#board td{
  border: 1px solid #ddd;
  width: 10px;
  height: 10px;
}

td.alive {
  background-image: url('assets/tidepool.jpg');
/*  background-color: yellow;*/
}

td.dead {
  background-color: grey;
}
td.tidepool {
  background: none;
}

#control_panel {
  margin: 10px auto;
  text-align: center;
}
.text-muted a{
  color: yellow;
  text-decoration: underline;
}
.btn {
  border-radius: 0;
  background: white;
  color: grey;
  font-size: 10px;
  padding: 0.4em;
}
#slider {
  display: block;
  margin: auto;
}
label {
  display: inline-block;
  color: white;
  font-size: 10px;
  padding: 0.4em;
  font-weight: 400;
  vertical-align: top;
  margin-top: 1em;
}
input[type=range] {
  display: inline-block;
  width: 10%;
  height: 80%;
  margin: 0 1em;
  padding: 1em;
}